.modal{
    position: absolute;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%);
    /* width: 400px; */
    background: var(--white); 
    border: none !important;
    outline: none !important;
    box-shadow: 24px;
    padding: 20px;
}
.upload-box{
    width:300px;
    height:200px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-svg{
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(190, 190, 172);
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-svg svg{
    /* fill: var(--primary-bg-color); */
    color: blue;
    height: 50px;
    width: 50px;

}